{
  "extends": ["airbnb", "prettier", "next"],
  "rules": {
    "react/display-name": [0],
    "react/jsx-filename-extension": [0],
    "react/jsx-props-no-spreading": [0],
    "react/no-array-index-key": [0],
    "@next/next/no-img-element": [0],
    "import/prefer-default-export": [0],
    "import/extensions": [0],
    "react/require-default-props": [0],
    "react/function-component-definition": [
      1,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  }
}
