html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  text-size-adjust: none;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #00b4a6;
  text-decoration-style: dashed;
  cursor: pointer;
}

a:hover {
  color: #ffffff;
  background-color: #00b4a6;
}

.next-link {
  text-decoration: none !important;
}

.search-highlight {
  background-color: #00b4a6;
  color: #ffffff;
}
